@use "../../assets/styles/" as *;

.img-rounded {
  width: 617px;
  height: 617px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0px 0px;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 1600px) {
  .img-rounded {
    width: 520px;
    height: 520px;
  }
}

@media (max-width: 1300px) {
  .img-rounded {
    width: 440px;
    height: 440px;
  }
}

@media (max-width: 816px) {
  .img-rounded {
    width: 360px;
    height: 360px;
  }
}
