@use '../../assets/styles/' as *;

.logo {
    img {
        width: 200px;
        height: auto;
    }
}

@media (max-width: 1600px) {
    .logo {
        img {
            width: 160px;
            height: auto;
        }
    }
}