@use '../../assets/styles/' as *;

.divider {
    width: 100%;
    height: 0px;
    border-top: 3px dashed $primary-color-yellow;
    transform: rotate(0deg);

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 100%;
      width: 10px;
      height: 10px;
      background: #E8B056FF;
      border-radius: 50%;
      top: -7px;
    }
    &.white {
      border-color: #F8E6CAFF;
      &::after {
        background: #F8E6CAFF;
      }
    }
    &.green {
      border-color: $primary-color-green;
      &::after {
        background: $primary-color-green;
      }
    }
    &.red {
      border-color: $primary-color-red;
      &::after {
        background: $primary-color-red;
      }
    }
    &-left {
      &:after {
        left: 0;
      }
    }
  }