@use '../../assets/styles/' as *;

.divider {
    width: 100%;
    height: 0px;
    border-top: 4px dashed $primary-color-yellow;
    transform: rotate(0deg);
  }
  /* Divider 12 */
  .divider:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 100%;
    width: 10px;
    height: 10px;
    background: #E8B056FF;
    border-radius: 50%;
    top: -7px;
  }