$primary-color-red: #bb4a1a;
$primary-color-green: #525a3e;
$primary-color-yellow: #e8b056;
$gray-color: #bdc1ca;
$text-white-color: #D1D6C4FF;
$text-black-color: #323743FF;

// font
$header-font-family: 'Playfair Display', serif;
$font-family: 'Quicksand', sans-serif;