@use "../../assets/styles/" as *;

.home-page {
  &__slider {
    margin: 160px 0 200px;
    text-align: center;

    &--title {
      margin-bottom: 20px;
      h1 {
        font-family: $header-font-family;
        font-size: 56px;
        line-height: 72px;
        font-weight: 700;
        color: $primary-color-yellow;
        margin-bottom: 0;
      }
      span {
        font-size: 22px;
        line-height: 30px;
        color: #d1d6c4ff;
      }
    }

    &--subtitle {
      margin-top: 30px;
      h2 {
        font-weight: 700;
        font-family: $header-font-family;
        font-size: 44px;
        line-height: 56px;
        color: $primary-color-yellow;
        margin-bottom: 0;
      }
      span {
        font-size: 24px;
        line-height: 36px;
        color: #d1d6c4ff;
      }
    }

    &--btn {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__wrap {
    background-color: $primary-color-yellow;
    padding: 114px 0 135px;
    text-align: center;
    margin-bottom: 262px;

    h1 {
      font-size: 64px;
      line-height: 84px;
      color: $primary-color-green;
      margin-bottom: 0;
      font-family: $header-font-family;
    }

    p {
      max-width: 1176px;
      margin: auto;
      font-size: 24px;
      line-height: 36px;
      color: #323743ff;
    }
  }

  &__menu {
    margin-top: 38px;
    margin-bottom: 114px;
    &-list-img {
      margin: auto;
      display: flex;
      width: fit-content;
      gap: 55px;
      margin-bottom: 38px;
    }

    &--img-item {
      img {
        cursor: pointer;
        width: 254px;
        height: 254px;
        border-radius: 127px;
        object-fit: cover;
        object-position: center;
        &:hover {
          // box-shadow: 0px 0px 2px #171a1f, 0px 0px 2px #171a1f;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
      }
      &.active {
        img {
          border-radius: 138.5px 138.5px 138.5px 0px;
          border: 3px solid #bb4a1a;
        }
      }
    }

    &-main {
      padding: 60px 320px 0 0;
      position: relative;
      width: fit-content;
      margin: auto;

      &--card {
        background-color: $primary-color-yellow;
        border-radius: 12px;
        // box-shadow: 0px 13.5px 29px #171a1f, 0px 0px 2px #171a1f;
        width: 850px;
        padding: 60px 280px 0 110px;
        height: 490px;
        margin: auto;

        h1 {
          font-size: 48px;
          line-height: 68px;
          color: $primary-color-green;
          font-family: $header-font-family;
          font-weight: 800;
          margin-bottom: 0;
        }
        h3 {
          font-size: 24px;
          line-height: 36px;
          color: #444a34ff;
          font-weight: 600;
        }
        p {
          font-size: 18px;
          line-height: 28px;
          color: #323743ff;
          margin-top: 16px;
        }
      }

      &--btn {
        display: flex;
        justify-content: flex-end;
      }

      &--img {
        position: absolute;
        top: 0;
        right: 0;
        img {
          width: 588px;
          height: 588px;
          border-radius: 294px 294px 0px 294px;
          border: 5px solid #bb4a1a;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  &__contact {
    width: 90%;
    max-width: 1504px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;

    position: relative;

    &--col {
      width: 48%;

      h1 {
        font-size: 64px;
        line-height: 84px;
        color: $primary-color-yellow;
        font-style: italic;
        font-family: $header-font-family;
        font-weight: 700;
        margin-bottom: 32px;
      }

      &-form {
        width: 600px;
        align-self: center;
      }
    }

    &--in4 {
      width: 100%;
      display: flex;
      justify-content: space-between;

      gap: 12px;
      &-wrap {
        flex: 1;
      }
      &-line {
        display: flex;
        flex-wrap: wrap;
        color: #fafafbff;
        span {
          font-size: 24px;
          // line-height: 1;
          font-weight: 600;
          margin-right: 4px;
        }
        p {
          font-size: 24px;
          word-break: break-all;
        }
      }
    }

    &--icons {
      display: flex;
      gap: 24px;
      margin-top: 32px;
      i {
        font-size: 44px;
        color: #fff;
      }
    }

    &--divider {
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 100%;
      border-right-width: 2px;
      border-color: #e8b056ff;
      border-style: dashed;
      // transform: rotate(-90deg);

      &:before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 10px;
        height: 10px;
        background: #e8b056ff;
        border-radius: 50%;
        transform: translate(-40%, -50%);
      }

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 100%;
        width: 10px;
        height: 10px;
        background: #e8b056ff;
        border-radius: 50%;
        transform: translate(-40%, -50%);
      }
    }
  }
}
