@use "../../assets/styles/" as *;

.home-page {
  &__slider {
    margin: 160px 0 200px;
    text-align: center;

    &--title {
      margin-bottom: 20px;
      h1 {
        font-family: $header-font-family;
        font-size: 56px;
        line-height: 72px;
        font-weight: 700;
        color: $primary-color-yellow;
        margin-bottom: 0;
      }
      span {
        font-size: 22px;
        line-height: 30px;
        color: #d1d6c4ff;
      }
    }

    &--subtitle {
      margin-top: 30px;
      h2 {
        font-weight: 700;
        font-family: $header-font-family;
        font-size: 44px;
        line-height: 56px;
        color: $primary-color-yellow;
        margin-bottom: 0;
      }
      span {
        font-size: 24px;
        line-height: 36px;
        color: #d1d6c4ff;
      }
    }

    &--btn {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__wrap {
    background-color: $primary-color-yellow;
    padding: 114px 0 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 262px;

    h1 {
      font-size: 64px;
      line-height: 84px;
      color: $primary-color-green;
      margin-bottom: 0;
      font-family: $header-font-family;
    }

    p {
      max-width: 1176px;
      margin: auto;
      font-size: 24px;
      line-height: 36px;
      color: #323743ff;
      text-align: center;
      margin-bottom: 32px;
    }
  }

  &__menu {
    margin-top: 38px;
    margin-bottom: 114px;
    &-list-img {
      margin: auto;
      display: flex;
      width: fit-content;
      gap: 55px;
      margin-bottom: 38px;
    }

    &--img-item {
      img {
        cursor: pointer;
        width: 254px;
        height: 254px;
        border-radius: 127px;
        object-fit: cover;
        object-position: center;
        &:hover {
          // box-shadow: 0px 0px 2px #171a1f, 0px 0px 2px #171a1f;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
      }
      &.active {
        img {
          border-radius: 138.5px 138.5px 138.5px 0px;
          border: 3px solid #bb4a1a;
        }
      }
    }

    &-main {
      padding: 60px 320px 0 0;
      position: relative;
      width: fit-content;
      margin: auto;

      &--active {
        display: none;
      }
      &--card {
        background-color: $primary-color-yellow;
        border-radius: 12px;
        // box-shadow: 0px 13.5px 29px #171a1f, 0px 0px 2px #171a1f;
        width: 850px;
        padding: 60px 280px 0 60px;
        height: 490px;
        margin: auto;

        h1 {
          font-size: 48px;
          line-height: 68px;
          color: $primary-color-green;
          font-family: $header-font-family;
          font-weight: 800;
          margin-bottom: 0;
        }
        h3 {
          font-size: 24px;
          line-height: 36px;
          color: #444a34ff;
          font-weight: 600;
        }
        p {
          font-size: 18px;
          line-height: 28px;
          color: #323743ff;
          margin-top: 16px;
        }
      }

      &--btn {
        display: flex;
        justify-content: flex-end;
        margin-right: 32px;
      }

      &--img {
        position: absolute;
        top: 0;
        right: 0;
        img {
          width: 588px;
          height: 588px;
          border-radius: 294px 294px 0px 294px;
          border: 5px solid #bb4a1a;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  &__contact {
    width: 90%;
    max-width: 1504px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;

    position: relative;

    &--col {
      width: 48%;

      h1 {
        font-size: 64px;
        line-height: 84px;
        color: $primary-color-yellow;
        font-style: italic;
        font-family: $header-font-family;
        font-weight: 700;
        margin-bottom: 32px;
      }

      &-form {
        width: 600px;
        align-self: center;
      }
    }

    &--in4 {
      width: 100%;
      display: flex;
      justify-content: space-between;

      gap: 12px;
      &-wrap {
        flex: 1;
      }
      &-line {
        display: flex;
        flex-wrap: wrap;
        color: #fafafbff;
        span {
          font-size: 24px;
          // line-height: 1;
          font-weight: 600;
          margin-right: 4px;
        }
        p {
          font-size: 24px;
          word-break: break-all;
        }
      }
    }

    &--icons {
      display: flex;
      gap: 24px;
      margin-top: 32px;
      i {
        font-size: 44px;
        color: #fff;
      }
    }

    &--divider {
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 100%;
      border-right-width: 2px;
      border-color: #e8b056ff;
      border-style: dashed;
      // transform: rotate(-90deg);

      &:before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 10px;
        height: 10px;
        background: #e8b056ff;
        border-radius: 50%;
        transform: translate(-40%, -50%);
      }

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 100%;
        width: 10px;
        height: 10px;
        background: #e8b056ff;
        border-radius: 50%;
        transform: translate(-40%, -50%);
      }
    }
  }
}

@media (max-width: 1600px) {
  .home-page {
    &__slider {
      &--title {
        h1 {
          font-size: 52px;
        }
        span {
          font-size: 20px;
        }
      }
      &--subtitle {
        h2 {
          font-size: 40px;
        }
        span {
          font-size: 20px;
        }
      }
    }
    &__menu {
      &-list-img {
        gap: 32px;
        margin-bottom: 32px;
      }
      &--img-item {
        img {
          width: 240px;
          height: 240px;
        }
      }
      &-main {
        padding: 60px 280px 0 0;
        &--card {
          padding: 60px 280px 0 60px;
          height: 440px;
        }
        &--img {
          img {
            width: 540px;
            height: 540px;
          }
        }
      }
    }
    &__contact {
      &--col {
        width: 48%;

        h1 {
          font-size: 64px;
          line-height: 84px;
          color: $primary-color-yellow;
          font-style: italic;
          font-family: $header-font-family;
          font-weight: 700;
          margin-bottom: 32px;
        }

        &-form {
          width: 500px;
          align-self: center;
          .form-container {
            width: 100%;
            min-width: 100%;
          }
        }
      }

      &--in4 {
        &-line {
          span {
            font-size: 22px;
          }
          p {
            font-size: 22px;
          }
        }
      }

      &--icons {
        i {
          font-size: 38px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .home-page {
    &__slider {
      &--title {
        h1 {
          font-size: 48px;
        }
        span {
          font-size: 18px;
        }
      }
      &--subtitle {
        h2 {
          font-size: 36px;
        }
        span {
          font-size: 18px;
        }
      }
    }
    &__wrap {
      h1 {
        font-size: 58px;
      }
      p {
        font-size: 22px;
      }
    }

    &__menu {
      &-list-img {
        gap: 28px;
        margin-bottom: 30px;
      }
      &--img-item {
        img {
          width: 200px;
          height: 200px;
        }
      }
      &-main {
        padding: 40px 240px 0 0;
        &--card {
          padding: 40px 240px 0 40px;
          height: 400px;
          width: 800px;
        }
        &--img {
          img {
            width: 500px;
            height: 500px;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .home-page {
    &__menu {
      &-list-img {
        gap: 24px;
        margin-bottom: 24px;
      }
      &--img-item {
        img {
          width: 172px;
          height: 172px;
        }
      }
      &-main {
        padding: 30px 160px 0 0;
        &--card {
          padding: 30px 320px 0 30px;
          height: 360px;
          width: 760px;
          h1 {
            font-size: 36px;
          }
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 14px;
          }
        }
        &--img {
          img {
            width: 440px;
            height: 440px;
          }
        }
      }
    }
    &__contact {
      &--col {
        width: 48%;

        h1 {
          font-size: 56px;
          line-height: 64px;
          color: $primary-color-yellow;
          font-style: italic;
          font-family: $header-font-family;
          font-weight: 700;
          margin-bottom: 28px;
        }

        &-form {
          width: 480px;
          align-self: center;
          .form-container {
            width: 100%;
            min-width: 100%;
          }
        }
      }

      &--in4 {
        &-line {
          span {
            font-size: 20px;
          }
          p {
            font-size: 20px;
          }
        }
      }

      &--icons {
        i {
          font-size: 32px;
        }
      }
      &--divider {
        display: none;
      }
    }
  }
}

@media (max-width: 960px) {
  .home-page {
    &__slider {
      margin: 100px 0 140px;
      &--title {
        h1 {
          font-size: 42px;
        }
        span {
          font-size: 18px;
        }
      }
      &--subtitle {
        h2 {
          font-size: 32px;
        }
        span {
          font-size: 18px;
        }
      }
    }
    &__wrap {
      padding: 100px 20px 106px;
      h1 {
        font-size: 54px;
      }
      p {
        font-size: 20px;
      }
    }
    &__menu {
      &-list-img {
        gap: 20px;
        margin-bottom: 20px;
      }
      &--img-item {
        img {
          width: 140px;
          height: 140px;
        }
      }
      &-main {
        padding: 20px 120px 0 0;
        &--card {
          padding: 20px 300px 0 20px;
          height: 360px;
          width: 640px;
          h1 {
            font-size: 36px;
          }
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 14px;
          }
        }
        &--img {
          img {
            width: 400px;
            height: 400px;
          }
        }
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      &--col {
        width: 100%;

        &-form {
          max-width: 500px;
          .form-container {
            padding: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .home-page {
    margin: 80px 0 120px;
    &__slider {
      &--title {
        margin-bottom: 12px;
        h1 {
          font-size: 36px;
        }
        span {
          font-size: 16px;
        }
      }
      &--subtitle {
        margin-top: 12px;
        h2 {
          font-size: 28px;
        }
        span {
          font-size: 16px;
        }
      }
    }
    &__wrap {
      padding: 80px 16px 86px;
      margin-bottom: 100px;
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 18px;
      }
    }
    &__menu {
      &-list-img {
        display: none;
      }
      &-main {
        padding: 20px;
        &--active {
          display: block;
          text-align: center;
          position: relative;
          img {
            margin: 32px auto;
            width: 320px;
            height: 320px;
            border-radius: 50% 50% 50% 0;
            border: 3px solid #bb4a1a;
            object-fit: cover;
            object-position: center;
          }

          &-btn {
            position: absolute;
            top: 50%;
            i {
              font-size: 36px;
              color: $primary-color-red;
              &:hover {
                cursor: pointer;
                opacity: 0.9;
              }
            }
            &--next {
              right: 20px;
            }
            &--prev {
              left: 20px;
            }
          }
        }
        &--card {
          padding: 20px;
          height: auto;
          width: 100%;
          h1 {
            font-size: 36px;
          }
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 14px;
          }
        }
        &--img {
          display: none;
        }
      }
    }
  }
}
